body{
    background-image: url(image/concert.webp);
    background-repeat: no-repeat;
    background-image: center;
    background-size: 100% 100%;
}


#headblock{
    display: flow-root;
    border: 3px solid rgb(219, 142, 0);
    background-color: rgba(255, 228, 196, 0.91);
}

.song_title_format{
    padding-top: 25px;
    font-family: Verdana, Arial;
    font-size: 1em;
}

#cover_pic{
    float: left;
    margin-right: 25px;
    display: flow-root;
    box-shadow: 3px 0px 5px;
}

.contentblock{
    border: 3px solid rgb(219, 142, 0);
    background-color: rgba(255, 228, 196, 0.91);
}

#song_audio{
    margin: 25px;
    padding-top:20px;
}

.song_data{
    margin: 25px;
    font-size: 20px;
    padding-left: 10px;
    font-family: Ariel, Verdana;
}

footer{
    background-color: rgba(255, 228, 196, 0.91);
    margin-top: 20px;
    border: 3px solid orange;
}

.sourcelinks{
    text-align: center;
}

#spotify, #yt{
display: inline-block;   
vertical-align: middle;
margin-left: 25px;
margin-top: 25px;
}